{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block css %}
<title>Change Password - Phenommie</title>

<link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock %}

{% block content %}


<section class="main_hero">

    <div class="container">
        <h1>Change Password</h1>

    </div>

    <div class="icon_center">
        <img src="{% static 'images/icon_center.svg' %}" alt="">
    </div>
</section>

<section class="form_section">
    <div class="container">
        <div class="form_title">

            <h1>{% trans "Change Password" %}</h1>
        </div>

        <form method="POST" action="{% url 'account_change_password' %}" class="login">
            {% csrf_token %}
            {{ form|crispy }}

            <div class="pd"></div>
            <button type="submit" class="btn btn-send" name="action">{% trans "Change Password" %}</button>
        </form>

    </div>
</section>
{% endblock %}