@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap");

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font-family: 'Inter',
sans-serif;
font-family: 'Poppins',
sans-serif; */

:root {
    --white: #ffffff;
    --black: #000000;
    --off-white: #f7fafb;
    --red: #f22c2c;
    --red-gradient: linear-gradient(162deg, #f22c2c 12.26%, #ff5c00 95.71%);
    --yellow: #f9c80e;
    --black-gradient: linear-gradient(180deg, #1f1f1f 0%, #4d4d4d 100%);
    --green-gradient: linear-gradient(135deg, #03cea4 0%, #03a9ce 100%);
    --purple-gradient: linear-gradient(180deg, #48304d 0%, #44304d 100%);
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Inter", sans-serif;
}

p,
a {
    font-family: "Poppins", sans-serif;
}

body {
    background: var(--black);
    width: 100%;
    height: 100%;
    color: var(--white);
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.main_hero {
    height: 500px;
    width: 100%;
    background: url("../images/bg.svg") no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    position: relative;
}

.main_hero .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    margin: auto;
    text-align: center;
    padding: 10px 15px;
}

.main_hero h1 {
    font-size: 64px;
    font-weight: bold;
}

.main_hero p {
    margin: 10px 0;
    font-size: 24px;
    font-weight: normal;
    line-height: 38px;
    text-align: center;
}

.icon_center {
    position: absolute;
    bottom: -20%;
    left: 50%;
    transform: translate(-50%, -3%);
    border: 10px solid var(--white);
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.icon_center img {
    width: 100%;
    height: 100%;
}

.form_section {
    min-height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
}

.form_section .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.form_title {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 150px;
    padding: 10px 15px;
}

.form_title h1 {
    font-size: 50px;
    font-weight: bold;
    padding: 10px 15px;
}

.form_title p {
    font-size: 24px;
    font-weight: normal;
    padding: 10px 15px;
}

.form_container {
    max-width: 600px;
    width: 100%;

    margin: 0 auto;
    padding: 20px 0;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    padding: 10px 14px;
}

.btn-send {
    background: var(--red-gradient);
    color: var(--white);
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 21px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    transition: 0.3s ease-in;
}

.btn-send:hover {
    background: var(--green-gradient);
    border: 1px solid var(--black);
}

.btn-pro {
    background: var(--green-gradient);
    color: var(--black);
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 21px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    transition: 0.3s ease-in;
}

.btn-pro:hover {
    background: var(--black-gradient);

    color: var(--white);
}

.comment_box {
    display: flex;
    flex-direction: column;
    padding: 10px 12px;
}

.comment_box h4 {
    font-size: 16px;
    font-weight: 400;
}

.comment_box h5 {
    font-size: 12px;
    font-weight: 400;
    margin: 10px 0;
}

form label,
.form-label {
    display: flex;
    flex-direction: column;
    /* margin: 10px; */
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}

form label h1,
.form-label h1 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}

.form-control {
    width: 100%;
    height: 40px;
    border: 1px solid var(--white);
    outline: none;
    border-radius: 5px;
    padding: 10px;
    background: transparent;
    color: var(--white);
}

.form-control:focus,
.form-control:active {
    border: 2px solid var(--red);
    color: var(--white);
}

.form-textarea::placeholder,
.form-control::placeholder {
    font-size: 14px;
    font-family: "Poppins", sans-serif;
}

.form-textarea {
    width: 100%;
    height: 400px;
    border: 1px solid var(--white);
    outline: none;
    color: var(--white);
    border-radius: 5px;
    padding: 10px;
    resize: none;
    background: transparent;
}

.form-textarea:focus,
.form-textarea:active {
    color: var(--white);
    border: 2px solid var(--red);
}

/* Login Page */

.login {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin: 30px 0;
    padding: 10px 15px;
}

.login input {
    margin: 3px 0;
}

.login .textinput {
    width: 100%;
    height: 40px;
    border: 1px solid var(--white);
    outline: none;
    border-radius: 5px;
    padding: 10px;
    background: transparent;
    color: var(--white);
}

.login input:focus,
.login input:active {
    border: 2px solid var(--red);
    color: var(--white);
}

.login .control-group {
    margin: 4px 0;
}

.login label {
    display: flex;
    margin: 10px 0;
    font-size: 20px;
    flex-direction: row;
    align-items: flex-start;
}

.login label.checkbox {
    font-size: 14px;
    margin: 3px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.pd {
    margin: 10px 0;
}

.terms {
    font-size: 16px;
    color: var(--white);
    text-align: center;
    margin: 10px 0;
    line-height: 27px;
    padding: 10px 15px;
}

.login label.checkbox_input {
    height: 10px;
}

.secondaryAction {
    font-size: 20px;
    color: var(--red);
    text-decoration: none;
    margin: 10px 0;
    transition: 0.3s ease-in;
}

.secondaryAction:hover,
.secondaryAction:focus {
    color: var(--white);
}

.alternative {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alt_link {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.alt_link h1 {
    font-size: 20px;
    margin: 10px;
}

.alt_link span a {
    font-size: 20px;
    color: var(--red);
    font-weight: bold;
    text-decoration: none;
    margin: 10px 0;
    transition: 0.3s ease-in;
}

.alt_link span a:hover,
.alt_link span a:focus {
    color: var(--white);
}

.login hr {
    height: 0px;
    background: var(--white);
    width: 100%;
    margin: 50px 0;
}

.login input::placeholder {
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

/* Services */

.our_plan {
    width: 100%;
    min-height: 700px;
}

.our_plan .container {
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.our_plan .plan_title {
    text-align: center;
    margin-top: 150px;
}

.our_plan .plan_title h1 {
    font-size: 50px;
    font-weight: bold;
}

/* .our_plan .plan_table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(300px, auto);
    gap: 50px;
    grid-gap: 50px;
    margin-top: 40px;
} */

.our_plan .plan_table {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 50px 1fr 50px 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(300px, auto);
    gap: 50px;
    grid-gap: 50px;
    margin-top: 40px;
}

.plan_box {
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
    align-items: center;
    width: 100%;
    max-width: 300px;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
}

.plan_recommend {
    width: 120px;
    height: 30px;
    background: var(--purple-gradient);
    border-radius: 5px;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
    font-size: 12px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
}

.plan_box:nth-child(1),
.plan_box:nth-child(3) {
    background: var(--green-gradient);
    max-height: 390px;
}

.plan_box:nth-child(2) {
    background: var(--red-gradient);
    min-height: 450px;
}

.plan_box h3 {
    font-size: 20px;
    margin: 8px 0;
}

.plan_box h1 {
    font-size: 50px;
    margin: 8px 0;
}

.plan_box p {
    font-size: 16px;
    margin: 8px 0;
}

.we_do {
    width: 100%;
    min-height: 600px;
}

.we_do .container {
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.we_do .we_do_title {
    text-align: center;
    margin-top: 150px;
}

.we_do .we_do_title h1 {
    font-size: 50px;
    font-weight: bold;
}

/* 
.we_do .we_do_table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(300px, auto);
  gap: 50px;
  grid-gap: 50px;
  margin-top: 40px;
} */
.we_do .we_do_table {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 50px 1fr 50px 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(300px, auto);
    gap: 50px;
    grid-gap: 50px;
    margin-top: 40px;
}

.we_do_box {
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
    align-items: flex-start;
    width: 100%;
    max-width: 300px;
    height: 100%;

    border-radius: 10px;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
    background: var(--purple-gradient);
}

.we_do_box img {
    width: 60px;
    height: 60px;
}

.we_do_box h1 {
    font-size: 34px;
    margin: 10px 0;
}

.we_do_box p {
    font-size: 16px;
    margin: 10px 0;
    line-height: 27px;
    text-align: left;
}

.need_us {
    width: 100%;
    min-height: 600px;
}

.need_us .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1100px;
    margin: 0 auto;
}

.need_us .need_us_title {
    text-align: center;
    margin-top: 150px;
}

.need_us .need_us_title h1 {
    font-size: 50px;
    font-weight: bold;
}

.need_us .need_us_title p {
    font-size: 24px;
    font-weight: normal;
    margin: 10px 0;
}

/* .need_us .need_us_table {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(300px, auto);
  gap: 50px;
  grid-gap: 50px;
  margin-top: 40px;
} */
.need_us .need_us_table {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 50px 1fr 50px 1fr 50px 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(300px, auto);
    gap: 50px;
    grid-gap: 50px;
    margin-top: 40px;
}

.need_us_box {
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
    align-items: flex-start;
    width: 100%;
    max-width: 300px;
    height: 100%;
    max-height: 180px;

    color: var(--black);
    border-radius: 10px;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
    background: var(--white);
}

.start_project {
    display: flex;
    width: 100%;
    flex-direction: column;
    min-height: 450px;
    align-items: center;
    justify-content: center;
    background-image: url("../images/Vector\ 23.svg"),
        url("../images/Ellipse\ 5.svg"), url("../images/Ellipse\ 6.svg"),
        url("../images/Ellipse\ 7.svg");
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: right 0% top -10%, right -5% bottom -80%, left 0% top -5%,
        left -5% bottom 0%;
    background-size: 15%, 15%, 15%, 15%;
}

.start_project .container {
    display: flex;
    width: 100%;
    flex-direction: column;
    max-width: 1100px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.start_project h1 {
    font-size: 50px;
    margin: 10px 0;
}

.start_project p {
    font-size: 20px;
    margin: 10px 0;
}

/* Portfolio section */
.portfolio {
    width: 100%;
    min-height: 800px;
}

.section-filter {
    width: 100%;
    min-height: 200px;
}

.section-filter .container {
    width: 100%;
    height: 100%;

    align-items: center;
    justify-content: center;
    display: flex;
}

.section-filter .container ul {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    padding: 10px;
}

.section-filter .container ul li {
    padding: 10px 12px;
    width: 100%;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    height: 40px;
    cursor: pointer;
    text-transform: uppercase;
}

.selector {
    background: var(--green-gradient);
    padding: 10px 15px;
    margin: 10px;
    width: 100%;
    border-radius: 5px;
}

.active-select {
    background: var(--red-gradient);
    padding: 10px 15px;
    margin: 10px;
    width: 100%;
    border-radius: 5px;
}

.portfolio_cover {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(300px, auto);
}

.portfolio_case {
    width: 100%;
    height: 100%;
}

.portfolio_case img {
    width: 100%;
    height: 100%;
}

.blog {
    min-height: 600px;
    width: 100%;
    padding: 30px 0;
}

.blog .container {
    width: 100%;
    max-width: 1100px;
    margin: auto;
}

/* 
.blog_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  grid-gap: 50px;
  grid-auto-rows: minmax(300px, auto);
  margin-top: 100px;
  padding: 0 10px;
} */
.blog_wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 50px 1fr 50px 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    grid-gap: 50px;
    grid-auto-rows: minmax(300px, auto);
    margin-top: 100px;
    padding: 0 10px;
}

.blog_box {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.15);
    background: var(--white);
    color: var(--black);
    padding: 10px 15px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.blog_box h1 {
    margin: 5px 0;
    font-size: 34px;
}

.blog_box p {
    margin: 5px 0;
    font-size: 16px;
    line-height: 26px;
}

.blog_box .rating {
    display: flex;
    flex-direction: row;
}

.rating i {
    font-size: 18px;
    margin: 5px;
}

.blog_box a {
    color: var(--black);
    width: 100%;
    height: 100%;

    position: absolute;
    left: 0;
    top: 0;
}

.blog_box img {
    width: 100%;
    height: 200px;
}

.pagination {
    width: 100%;
    height: 100px;
}

.pagination .container {
    max-width: 1100px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page_number ul {
    display: flex;
}

.page_number ul li a {
    color: var(--white);
    font-size: 16px;
}

.number_current {
    background: var(--green-gradient);
    color: var(--white);
    height: 40px;
    width: 40px;
    text-align: center;
}

.page_number ul li {
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

.blog_hero {
    width: 100%;
    height: 400px;
    position: relative;
}

.blog_hero img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.blog_detail {
    width: 100%;
    min-height: 600px;
    margin-top: 30px;
}

.blog_detail .container {
    max-width: 1100px;
    margin: auto;
    padding: 10px 15px;
}

.blog_detail .rating {
    display: flex;
    flex-direction: row;
    color: var(--white);
    justify-content: center;
    align-items: center;
}

.blog_detail .container h1 {
    font-size: 34px;
    margin: 10px 0;
}

.leave a {
    color: var(--white);
    transition: 0.3s ease;
}

.leave a:hover {
    color: var(--red);
}

.leave {
    display: flex;
    flex-direction: column;
}

.blog_detail .container p {
    font-size: 16px;
    margin: 10px 0;
    line-height: 28px;
    text-align: justify;
}

@media only screen and (max-width: 1080px) {

    /* .blog_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-gap: 10px;
    grid-auto-rows: minmax(300px, auto);
    margin-top: 100px;
  } */
    .blog_wrapper {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        grid-gap: 10px;
        grid-auto-rows: minmax(300px, auto);
        margin-top: 100px;
    }
}

@media only screen and (max-width: 900px) {
    .main_hero h1 {
        font-size: 34px;
        font-weight: bold;
    }

    /* .blog_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-gap: 10px;
    grid-auto-rows: minmax(300px, auto);
    margin-top: 100px;
  } */
    .blog_wrapper {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 10px 1fr;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        grid-gap: 10px;
        grid-auto-rows: minmax(300px, auto);
        margin-top: 100px;
    }

    .main_hero p {
        font-size: 16px;
        font-weight: normal;
        line-height: 27px;
        text-align: center;
    }

    /* .our_plan .plan_table {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(300px, auto);
    gap: 50px;
    grid-gap: 50px;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
  } */
    .our_plan .plan_table {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(300px, auto);
        gap: 50px;
        grid-gap: 50px;
        margin-top: 40px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    /* .we_do .we_do_table {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(300px, auto);
    gap: 50px;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
  } */
    .we_do .we_do_table {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 50px 1fr;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(300px, auto);
        gap: 50px;
        grid-gap: 50px;
        margin-top: 40px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    /* .need_us .need_us_table {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(180px, auto);
    gap: 50px;
    grid-gap: 50px;
    margin-top: 40px;
  } */
    .need_us .need_us_table {
        display: -ms-grid;
        display: grid;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-grid-columns: 1fr 50px 1fr;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(180px, auto);
        gap: 50px;
        grid-gap: 50px;
        margin-top: 40px;
    }
}

@media only screen and (max-width: 550px) {
    .section-filter .container ul {
        display: flex;
        flex-direction: column;
    }

    .alt_link {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* 
    .alt_link h1 {
        font-size: 16px;
        margin: 10px;
    }

    .alt_link span a {
        font-size: 20px;
        color: var(--red);
        font-weight: bold;
        text-decoration: none;
        margin: 10px 0;
        transition: 0.3s ease-in;
    } */

    .blog_box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /* 
  .blog_wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    grid-gap: 10px;
    grid-auto-rows: minmax(300px, auto);
  } */
    .blog_wrapper {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        grid-gap: 10px;
        grid-auto-rows: minmax(300px, auto);
    }

    /* .we_do .we_do_table {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(300px, auto);
    gap: 50px;
    grid-gap: 50px;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
  } */
    .we_do .we_do_table {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(300px, auto);
        gap: 50px;
        grid-gap: 50px;
        margin-top: 40px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    /* 
  .need_us .need_us_table {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(180px, auto);
    gap: 50px;
    grid-gap: 50px;
    margin-top: 40px;
  } */
    .need_us .need_us_table {
        display: -ms-grid;
        display: grid;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-grid-columns: 1fr;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(180px, auto);
        gap: 50px;
        grid-gap: 50px;
        margin-top: 40px;
    }

    .form_title h1 {
        font-size: 34px;
        font-weight: bold;
    }

    .our_plan .plan_title h1 {
        font-size: 34px;
        font-weight: bold;
    }

    .start_project h1 {
        font-size: 34px;
        margin: 10px 0;
    }

    .need_us .need_us_title h1 {
        font-size: 34px;
        font-weight: bold;
    }

    .need_us .need_us_title p {
        font-size: 16px;
        font-weight: normal;
        margin: 10px 0;
    }
}