/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap");

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}

/* font-family: 'Inter',
sans-serif;
font-family: 'Poppins',
sans-serif; */

:root {
    --white: #fafafa;
    --black: #161c2d;
    /* --black: #000000; */
    /* --off-white: #ffffff; */
    --green-gradient: linear-gradient(135deg, #03CEA4 0%, #03A9CE 100%);
    --red: #f22c2c;
    --red-gradient: linear-gradient(162deg, #f22c2c 12.26%, #ff5c00 95.71%);
    --yellow: #f9c80e;
    --black-gradient: linear-gradient(180deg, #1F1F1F 0%, #4D4D4D 100%);
    -purple-gradient: linear-gradient(180deg, #48304D 0%, #44304D 100%);
    --purple: #48304D;

}

h1,
h2,
h3,
h4,
h5 {

    font-family: "Inter",
        sans-serif;
}

p,
a {
    font-family: "Poppins",
        sans-serif;
}

body {
    background: var(--white);
    width: 100%;
    height: 100%;
    color: var(--black);
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

header {
    height: 600px;
    width: 100%;
    background: url("../images/front.svg") no-repeat center center/cover,
        url("../images/back.svg") no-repeat center center/cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 0;

}

header svg {
    position: absolute;

}

header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: var(--white);
    padding: 10px 15px;
}


header .container h1 {
    margin: 10px 0;
    font-size: 64px;
    font-weight: 700;
}

header .container p {
    margin: 15px 0;
    font-size: 24px;
    font-weight: 400;
}

header .container a {
    margin: 15px 0;
}

.potential {
    width: 100%;
    min-height: 600px;
    background-image: url('../images/orbit.svg');
    background-position: right 0% top 0%;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.potential .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1100px;
    text-align: center;
    margin: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px;
}

.potential .container h1 {
    font-size: 24px;
    line-height: 29px;
    margin: 10px 0;
}

.potential .container p {
    margin: 15px 0;
    font-size: 36px;
    line-height: 54px;
}

.magic {
    width: 100%;
    min-height: 600px;
    padding: 10px;

}

.magic .container {
    max-width: 1100px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.magic-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.magic-top h1 {
    font-size: 34px;
    font-weight: 700;
    margin: 5px 0;

}

.magic-top a {
    color: var(--white);
    font-size: 20px;

    position: relative;
    margin: 5px 0;

}

.magic-top a::after {
    position: absolute;
    content: '';
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    bottom: 0;
    left: 0;
    background: var(--white);
    height: 3px;
    width: 100%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    visibility: hidden;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}

.magic-top a:hover::after {
    visibility: visible;
    width: 100%;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.magic-middle {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    grid-auto-rows: minmax(300px, auto);
    margin: 20px 0;
}

.magic-box {
    background: var(--black-gradient);
    padding: 10px 10px 10px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: var(--white);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    border-radius: 10px;
    -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
    -webkit-transition: 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -o-transition: 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -webkit-background: background;
    -webkit-transition: transition;
    -webkit-box-shadow: box-shadow;
}

.magic-box:hover,
.magic-box:focus {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);

}

.magic-box img {
    width: 80px;
    height: 80px;
    margin: 10px 0;
}

.magic-box h1 {
    font-size: 24px;
    margin: 10px 0;
}

.magic-box p {
    font-size: 18px;
    margin: 10px 0;
}

.need {
    width: 100%;
    min-height: 600px;


}

.need .container {
    max-width: 1100px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.need .container h1 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.need-middle {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 50px 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(500px, auto);
    margin: 20px 0;
    gap: 50px;
}

.why-need {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}


.why-need .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}


.why-need .header h1 {
    font-size: 50px;
    font-weight: bold;
    margin: 10px 0;
}

.why-need .header p {
    font-size: 20px;
    font-weight: normal;
    margin: 10px 0;
}

.boxes {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 30px 1fr 30px 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: minmax(300px, auto);
    gap: 30px;
    margin: 30px 0;
}

.need-box {
    background: var(--white);
    border-radius: 10px;
    padding: 10px 15px;
    color: var(--black);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
}

.need-box h1 {
    font-size: 34px;
    font-weight: bold;
}

.need-middle .img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


.need-box p {
    font-size: 18px;
    font-weight: normal;
}

.our_portfolio {
    width: 100%;
    min-height: 500px;
    padding: 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: var(--black);
}

.our_portfolio .container {
    max-width: 1100px;
    margin: 0 auto;
}

.our_portfolio .portfolio_table {
    display: -ms-grid;
    display: grid;
    width: 100%;
    height: 100%;
    margin: 10px 0;
    gap: 10px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-grid-columns: 1fr 10px 1fr;

    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(300px, auto);

}

.portfolio_cover {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;

}

.portfolio_title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 20px 0;
    padding: 10px;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}

.portfolio_title h1 {
    font-size: 50px;
    margin: 5px 0;
}

.portfolio_title p {
    font-size: 20px;
    margin: 5px 0;
}

.portfolio_cover::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    visibility: hidden;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    background: var(--green-gradient);
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    z-index: 3;
}

.portfolio_cover:hover::before {
    visibility: visible;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}

.portfolio_cover img {
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.portfolio_cover:hover .portfolio_description {
    visibility: visible;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}

.portfolio_description {
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;

    -webkit-transform-origin: center;

    -ms-transform-origin: center;

    transform-origin: center;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 4;
    visibility: hidden;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

.portfolio_description h1 {
    font-size: 24px;

}

.portfolio_description a {
    color: var(--red);
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    transition: 0.3s ease;

}

.see_more {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: var(--white);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: var(--black);
    padding: 10px 15px;
}

.see_more h1 {
    margin: 10px 0;
    font-size: 34px;
    text-align: center;
}

.portfolio_description a:hover {
    color: var(--red-gradient);
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;


}


.ideas {
    width: 100%;
    min-height: 400px;
    margin: 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

}

.ideas .container {
    max-width: 90%;
    margin: auto;
    border-radius: 10px;
    width: 100%;
    display: -ms-grid;
    display: grid;
    gap: 10px;
    padding: 10px 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(300px, auto);
    color: var(--white);
    background: var(--purple-gradient);
    -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
}


.ideas h1 {
    font-size: 50px;
    margin: 10px 5px;
}

.ideas p {
    font-size: 18px;
    margin: 10px 0;
    line-height: 27px;
    text-align: left;
}

.courses {
    width: 100%;
    min-height: 600px;
    margin: 20px 0;
    padding: 20px;


}

.courses .container {
    max-width: 1100px;
    margin: auto;
    width: 100%;
    display: -ms-grid;
    display: grid;
    gap: 50px;
    -ms-grid-columns: 1fr 50px 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(300px, auto);
}

.courses .take_course {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;

}

.courses .take_course h1 {
    font-size: 50px;
    margin: 10px 0;
}

.courses .take_course p {
    font-size: 20px;
    margin: 10px 0;
}

.courses .take_course_image {
    width: 100%;
    height: 100%;
}

.courses .take_course_image img {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width:780px) {

    .magic-middle {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 50px 1fr;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        grid-auto-rows: minmax(300px, auto);
        margin: 20px 0;
    }

}

@media only screen and (max-width:550px) {
    header .container h1 {
        margin: 10px 0;
        font-size: 34px;
        font-weight: 700;
    }

    .magic-top {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }


    header .container p {
        margin: 15px 0;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
    }

    .potential .container p {
        margin: 15px 0;
        font-size: 21px;
        line-height: 34px;
    }

    .magic-middle {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr;
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
        grid-auto-rows: minmax(300px, auto);
        margin: 20px 0;
    }

    .boxes {
        display: -ms-grid;
        display: grid;
        -ms-grid-rows: 1fr;
        grid-template-rows: repeat(1, 1fr);
        grid-auto-rows: minmax(300px, auto);
        gap: 30px;
        margin: 30px 0;
    }


    .our_portfolio .portfolio_table {
        display: -ms-grid;
        display: grid;
        width: 100%;
        height: 100%;
        margin: 10px 0;
        gap: 10px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-grid-columns: 1fr;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(300px, auto);

    }

    .ideas .container {
        max-width: 90%;
        margin: auto;
        border-radius: 10px;
        width: 100%;
        display: -ms-grid;
        display: grid;
        gap: 10px;
        padding: 10px 20px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-grid-columns: 1fr;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(150px, auto);
        background: var(--purple-gradient);
        -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
        box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
    }

    .courses .container {
        max-width: 1100px;
        margin: auto;
        width: 100%;
        display: -ms-grid;
        display: grid;
        gap: 50px;
        -ms-grid-columns: 1fr;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(300px, auto);
    }
}