/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-family: 'Inter',
sans-serif;
font-family: 'Poppins',
sans-serif; */

:root {
  --white: #ffffff;
  --off-white: #fafafa;
  --black: #161c2d;
  /* --black: #000000; */
  /* --off-white: #ffffff; */
  --red: #f22c2c;
  --green: #03cea4;
  --dark-green: #086d59;
  --red-gradient: linear-gradient(162deg, #f22c2c 12.26%, #ff5c00 95.71%);
  --yellow: #f9c80e;
  --green-gradient: linear-gradient(135deg, #03cea4 0%, #03a9ce 100%);
}

html {
  scroll-behavior: smooth;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

body {
  background: var(--black);
  width: 100%;
  height: 100%;
  color: var(--white);
  overflow-x: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

nav {
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  position: -webkit-sticky;

  position: sticky;
  z-index: 1000;
  background: var(--black);
  color: var(--white);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
}

nav .container {
  max-width: 1100px;
  margin: auto;
  flex-direction: row;
  color: var(--white);
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins", sans-serif;
}

p,
a {
  font-family: "Inter", sans-serif;
}

.nav-links {
  display: flex;
  flex-direction: row;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.nav-links li {
  padding: 10px 14px;
  font-size: 24px;
}

.nav-links li a {
  padding: 10px 14px;
  font-size: 18px;
  color: var(--white);
  position: relative;
  transition: 0.4s ease cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.nav-links li a::after {
  background: var(--white);
  height: 3px;
  position: absolute;
  width: 100%;
  content: "";
  bottom: 0;
  left: 0;
  transform-origin: left;
  visibility: hidden;
  transition: 0.4s ease;
  transform: scale(0);
}

.nav-links li a:hover::after {
  width: 100%;
  visibility: visible;
  transform: scale(1.1);
}

.nav-buttons {
  display: flex;
  flex-direction: row;
}

/* pre_loader */
.pre_loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 5000;
  background: #e0e9ee;
  cursor: pointer;
  -webkit-background: #e0e9ee;
  -webkit-display: flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}

.disappear {
  -webkit-animation: vanish 3s forwards;
  animation: vanish 3s forwards;
  -webkit-animation-name: vanish;
  -webkit-animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes vanish {
  100% {
    visibility: hidden;
    -webkit-opacity: 0;
    -webkit-visibility: hidden;
  }
}

@keyframes vanish {
  100% {
    visibility: hidden;
  }
}
.btn {
  height: 44px;
  padding: 10px 20px;
  border-radius: 5px !important;
  outline: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  font-weight: 600 !important;
}

.btn-login {
  background: var(--green);
  color: var(--white);
  z-index: 1000;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;

  font-weight: 600;

  border: none;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.05);
  outline: none;
  -webkit-background: background;
  -webkit-color: color;
  -webkit-border-radius: border-radius;
  -webkit-box-shadow: box-shadow;
  -webkit-outline: outline;
  transition: 0.4s ease-in;
}

.btn-login:hover,
.btn-login:focus {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
  background: var(--dark-green);
  color: var(--white);
  -webkit-background: background;
}

.btn-sign {
  background: var(--green);
  color: var(--white);
  outline: none;
  z-index: 500;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
  margin-left: 10px;
  -webkit-background: background;
  -webkit-color: color;
  -webkit-border-radius: border-radius;
  -webkit-box-shadow: box-shadow;
  -webkit-outline: outline;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  transition: 0.4s ease-in;
}

.btn-sign:hover,
.btn-sign:focus {
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
  background: var(--dark-green);
  color: var(--white);
  -webkit-background: background;
}

footer {
  height: 110px;
  width: 100%;
  background: var(--black);
  color: var(--white);
}

footer .container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  background: var(--black);
  color: var(--white);
}

footer .social-links {
  display: flex;
  flex-direction: row;
}

footer .social-links li {
  padding: 10px 13px;
  color: var(--white);
}

footer .social-links li a {
  padding: 10px 13px;
  color: var(--white);
  position: relative;
}

footer .social-links li a::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  transform-origin: left;
  transform: scale(0);
  visibility: hidden;
  bottom: 0;
  left: 0;
  background: var(--white);
  transition: 0.4s;
}

footer .social-links li a:hover::after {
  transform: scale(1.1);
  width: 100%;
  visibility: visible;
}

.mobile-menu {
  position: absolute;
  height: 50px;
  width: 50px;
  right: 20px;
  top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: var(--white); */

  cursor: pointer;
  margin: auto;
}

.hide {
  display: none;
}

.mobile_btn {
  display: none;
  margin: 10px 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.messages {
  width: 100%;
  height: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--green);
  font-size: 18px;
  list-style-type: none;
  color: var(--white);
  font-family: "Poppins", sans-serif;
  z-index: 2000;
  position: fixed;
  top: 0;
  left: 0;

  text-align: center;
}

.message_cover {
  padding: 10px 15px;
}

.mobile-menu span {
  width: 30px;
  height: 2px;
  cursor: pointer;
  background: var(--white);
  margin: 2px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.back-to-top {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  background: var(--green);
  transition: 0.3s ease;
  border-radius: 50%;
  cursor: pointer;
  display: none;
}

.back-to-top:hover,
.back-to-top:focus {
  background: var(--dark-green);
}

.back-to-top .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 910px) {
  .hide {
    display: block;
  }

  nav .container {
    flex-direction: column;
    height: 120px;
  }

  nav .icon {
    align-self: flex-start;
    padding: 20px;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px 20px;
  }

  .nav-links-container {
    background: var(--black);
    color: var(--white);
    width: 100%;
    height: 110vh;
    transition: 0.4s ease;
    transform: translateY(-500px);
    z-index: 4000;
  }

  .nav-links-active {
    transform: translateY(0%);
  }

  .buttons-active {
    transform: translateY(0px);
  }

  .mobile_btn {
    display: block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
  }

  .nav-buttons {
    background: var(--black);
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    transition: 0.4s ease;

    padding: 15px 0;

    transform: translateY(-500px);
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(5px, 9px);
    transition: 0.4s ease;
  }

  .toggle .line2 {
    opacity: 0;
    transition: 0.4s ease;
  }

  .toggle .line3 {
    transform: rotate(45deg) translate(5px, -9px);
    transition: 0.4s ease;
  }

  footer .container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 18px;
    gap: 30px;
  }

  footer .social-links {
    display: flex;
    flex-direction: column;
  }
}
