{% extends 'base.html' %} {% load static %} {% block css %}
{% load crispy_forms_tags %}

<link rel="stylesheet" href="{% static 'css/contact.css' %}" />
<title>{{category.title|title}} - Phenommie</title>
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock css %} {% block content %}

<section class="main_hero">
    <div class="container">
        <h1>{{category.title|title}}</h1>
        <p>
            Our Projects In {{category.title|title}}
        </p>
    </div>




</section>
<section class="portfolio">
    <div class="container">
        <div class="section-filter">
            <div class="container">

                <ul>
                    {% for portfoliocategory in categories %}
                    <li class="selector"><a
                            href="{{portfoliocategory.get_absolute_url}}">{{portfoliocategory.title}}</a></li>
                    {% endfor %}

                </ul>
            </div>
        </div>


    </div>
</section>

<section class="our_portfolio">

    <div class="portfolio_table">
        {% for portfolio in page_obj %}
        <div class="portfolio_box portfolio_cover">
            <img src="{{portfolio.image.url}}" alt="">
            <div class="portfolio_description">
                <a href="{{portfolio.get_absolute_url}}">
                    <h1>{{portfolio.title}}</h1>
                </a>
            </div>

        </div>
        {% empty %}

        <p class="empty">No Project In This Category</p>

        {% endfor %}






    </div>
</section>

<section class="pagination">

    <div class="container">

        {% if page_obj.has_other_pages %}

        <div class="page_number">
            <ul>
                {% if page_obj.has_previous %}<li>
                    <a href="?page={{page_obj.previous_page_number}}"> <i class="fas fa-angle-double-left"></i>
                        Previous</a>
                </li>
                {% endif %}
                <li class="number_current">
                    <a href="?page={{page_obj.number}}"> {{page_obj.number}}</a>
                </li>
                {% if page_obj.has_next %}

                <li>
                    <a href="?page={{page_obj.next_page_number}}"> Next
                        <i class="fas fa-angle-double-right"></i></a>
                </li>

                {% endif %}
            </ul>
        </div>

        {% endif %}
    </div>
</section>


{% include 'ready.html' %}
<script src="{% static 'js/portfolio.js' %}"></script>
{% endblock content %}