{% extends 'base.html' %}
{% load static %}
{% block css %}
{% load crispy_forms_tags %}
{% load humanize %}

<link rel="stylesheet" href="{% static 'css/contact.css' %}" />
<title>{{course.title|title}} - Phenommie</title>
{% endblock css %} {% block content %}


<section class="course_hero"
    style="width:100%; min-height: 500px; background:url('{{course.image.url}}') center center/cover; background-image:url('{{course.image.url}}'); background-position: center center; background-size: cover; -webkit-background-image:url('{{course.image.url}}'); ">

    <div class="container">

        <h1>{{course.title|title}}</h1>
    
        {% if course_status != 'owned' %}
        {% if course_status == 'in_cart' %}
        <p>You currently have this course in your cart</p>
        <a href="{% url 'order:order-view' %}" class="btn btn-payment ">Pay Now</a>
        {% else %}
        <a href="{{course.get_add_to_cart_url}}" class="btn btn-payment ">Enrol Now</a>

        {% endif %}
        {% else %}

        <a href="#lesson" class="btn btn-payment ">Watch Now</a>


        {% endif %}
    </div>
</section>

<section class="course_details">

    <div class="container">
        <div class="course_review">

            <div class="container">
                <div class="review_cover">
                    <div class="review_box">
                        <h1> <i class="fas fa-video"></i> {{course.get_lessons_count}}
                            {% if course.get_lessons_count == 1 or course.get_lessons_count == 0 %} Lesson

                            {% else %}Lessons{% endif %} </h1>
                    </div>
                    <div class="review_box">
                        <p><i class="fas fa-comments"></i> {{course.get_review_count}}
                            {% if course.get_review_count == 1 or course.get_review_count == 0 %}Review

                            {% else %}Reviews{% endif %} </p>
                    </div>
                    <div class="review_box save"><a href="{{course.get_saved_url}}"><i class="fas fa-bookmark"></i> Save
                            Course</a>


                    </div>
                </div>
            </div>
        </div>


       
    </div>
</section>

<section class="course_inner">
    <div class="container">
        <div class="course_description">
            <h1>{{course.title|title}}</h1>
            <p>{{course.description|safe}}</p>

        </div>

        <div class="course_files" id="lesson">
            <h1> Course Files</h1>
            {% for lessons in course.lessons %}

            <div class="preview_box">
                <a href="{{lessons.get_absolute_url}}">
                    <li><i class="fab fa-youtube"></i> {{forloop.counter}} {{lessons.title}}</li>
                    {% if course_status != 'owned' %}

                </a> <a href="{{lessons.get_absolute_url}}" class="preview">Preview</a>
                {% else %}
                </a> <a href="{{lessons.get_absolute_url}}" class="preview">Watch</a>
                {% endif %}
            </div>
            {% empty %}
            <div class="preview_box">
                <li>No Lessons</li>



            </div>
            {% endfor %}

        </div>
    </div>
</section>

<section class="review_section">

    <div class="container">
        <div class="review_title">
            <i class="fas fa-comments"></i> {{course.get_review_count}}
            {% if course.get_review_count == 1 or course.get_review_count == 0 %}Review

            {% else %}Reviews{% endif %}
        </div>

        <div class="review_list">
            {% for reviews in course.reviews %}
            <div class="review_list_box">
                <h1>By {{reviews.user.username|title}}</h1>
                <p>{{reviews.content|title}}</p>
                <h2>{{reviews.time|timesince}} ago</h2>


            </div>
            {% endfor %}
        </div>

        <div class="review_form">
            {% if request.user.is_authenticated %}
            <div class="form_container">
                <form class="form" action="" method="POST">
                    {% csrf_token %}
                    <label>

                        {{form.comment}}
                    </label>
                    <button class="btn btn-send">Submit</button>
                </form>
            </div>

            {% else %}

            <a href="{% url 'account_login' %}" class="btn btn-dashboard">Login To Review</a>

            {% endif %}
        </div>
    </div>
</section>



<section class="watch">

    <div class="container">

        <div class="course_pay">
            {% if course_status != 'owned' %}
            {% if course_status == 'in_cart' %}
            <a href="{% url 'order:order-view' %}" class="btn btn-payment ">Pay Now</a>
            {% else %}
            <a href="{{course.get_add_to_cart_url}}" class="btn btn-payment ">Enrol Now</a>

            {% endif %}
            {% else %}

            <a href="#lesson" class="btn btn-payment ">Watch Now</a>


            {% endif %}


        </div>
    </div>
</section>

<script src="{% static 'js/portfolio.js' %}"></script>
{% endblock content %}