{% extends 'base.html' %} {% load static %} {% block css %}
{% load crispy_forms_tags %}
{% load humanize %}

<link rel="stylesheet" href="{% static 'css/contact.css' %}" />
<title>Our Courses - Phenommie</title>
{% endblock css %} {% block content %}

<section class="main_hero">
    <div class="container">
        <h1>Courses</h1>
        <p>
            Our Courses Are Coming Soon
        </p>

    </div>



</section>


<section class="course_section">

    <div class="container">
        <div class="course_title">
            <div class="search_box">
                <div class="search">
                    <form action="{% url 'digi:search' %}" method="GET"> <input type="text" name="q"
                            value="{{request.GET.q}}" placeholder="Find A Course">
                        <button><i class="fas fa-search"></i></button>
                    </form>
                </div>

            </div>
        </div>

        </div>
</section>

<section class="course_cover_box">

    <div class="container">
        {% for object in object_list %}
        <div class="course_boxes">

            <img src="{{object.image.url}}" alt="{{object.tutor|title}}">
            <div class="author_cover">
            <h1>{{object.tutor|title}}</h1>
            </div>
            <h1 class="course_name">{{object.title|title}}</h1>
            <p>{{object.description|safe|truncatechars:100}}</p>
            <div class="price_course">
<div class="price_amount">&#8358; {{object.amount|intcomma}}</div>
<div class="course_lessons">{{object.get_lessons_count}}
    {% if object.get_lessons_count == 1 or object.get_lessons_count == 0 %}Lesson

    {% else %}Lessons{% endif %}</div>
            </div>
            <a href="{{ object.get_absolute_url }}"></a>
        </div>
        {% endfor %}
      
    </div>
</section>






<section class="pagination">

    <div class="container">

        {% if is_paginated %}

        <div class="page_number">
            <ul>
                {% if page_obj.has_previous %}<li>
                    <a href="?page={{page_obj.previous_page_number}}"> <i class="fas fa-angle-double-left"></i>
                        Previous</a>
                </li>
                {% endif %}
                <li class="number_current">
                    <a href="?page={{page_obj.number}}"> {{page_obj.number}}</a>
                </li>
                {% if page_obj.has_next %}

                <li>
                    <a href="?page={{page_obj.next_page_number}}"> Next
                        <i class="fas fa-angle-double-right"></i></a>
                </li>

                {% endif %}
            </ul>
        </div>

        {% endif %}
    </div>
</section>


{% include 'ready.html' %}

<script src="{% static 'js/portfolio.js' %}"></script>
{% endblock content %}