{% extends 'base.html' %}
{% load humanize %}
{% load paystack %}
{% load static %}
{% block css %}
{% load crispy_forms_tags %}
{% load humanize %}

<link rel="stylesheet" href="{% static 'css/contact.css' %}" />
<title> Payment Failed - Phenommie</title>

{% endblock css %}
{% block content %}

<section class="payment_failed">


    <div class="container">


        <img src="" alt="">

        <h1>Oh No!!</h1>
        <p>Your payment didn't go through </p>
        <a href="{% url 'order:order-view'%}" class="btn btn-dashboard">Try Again</a>
    </div>
</section>
{% endblock content %}