{% extends 'base.html' %} {% load static %} {% block css %}

<title>Phenommie - Home</title>
<link rel="stylesheet" href="{% static 'css/home.css' %}" />

<link rel="stylesheet" href="{% static 'css/contact.css' %}" />

<link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">

{% endblock css %} {% block content %}

<header>
  <div class="container">
    <h1>
      Be
      <span
        class="txt-type green"
        data-wait="3000"
        data-words="['phenomenal', 'extraordinary', 'sensational', 'unparalleled',
        'amazing', 'outstanding', 'remarkable', 'bold', 'prestigious', 'flamboyant', 'elegant']"
      ></span>
    </h1>

    <h2>Phenommie - /fi-nom-ē/</h2>
    <p>
      Phenommie is an innovation brand creating transformative experiences
      people love. <br />
      We’re future-driven as we proffer creative solutions today.
    </p>

    <a href="{% url 'digi:about'%}" class="btn btn-sign">Check Out The Haven</a>
  </div>
</header>

<section class="potential">
  <div class="container">
    <h1>Here are the brands that have had peace after our touch</h1>
    <!-- <p>
      What if you have a community of loyal customers who sees no competition
      and helps spread the word about your brand?
    </p> -->

    <div class="responsive">
      <div class="potential_img">
        <img src="{% static 'images/futur.svg' %}" alt="" />
      </div>
      <div class="potential_img">
        <img src="{% static 'images/futur.svg' %}" alt="" />
      </div>
      <div class="potential_img">
        <img src="{% static 'images/futur.svg' %}" alt="" />
      </div>
      <div class="potential_img">
        <img src="{% static 'images/futur.svg' %}" alt="" />
      </div>
      <div class="potential_img">
        <img src="{% static 'images/futur.svg' %}" alt="" />
      </div>
      <div class="potential_img">
        <img src="{% static 'images/futur.svg' %}" alt="" />
      </div>
      <div class="potential_img">
        <img src="{% static 'images/futur.svg' %}" alt="" />
      </div>
      <div class="potential_img">
        <img src="{% static 'images/futur.svg' %}" alt="" />
      </div>
    </div>
  </div>
</section>

<div class="swiper_section">
  <div class="container">
    <div class="title"><h1>Slider Title</h1></div>

    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div
       style="background: url({%static 'images/swiper.png' %}) no-repeat center center/cover; border-radius:5px" 
        class="swiper-slide">
      <h1>Branding</h1>
      <a href="#" class="btn btn-white">See More
        </a>
      </div>
      
      <div
      style="background: url({%static 'images/swipe.png' %}) no-repeat center center/cover; border-radius:5px" 
       class="swiper-slide">
     <h1>UI/UX</h1>
     <a href="#" class="btn btn-white">See More
       </a>
     </div>
     
     <div
     style="background: url({%static 'images/swiper.png' %}) no-repeat center center/cover; border-radius:5px" 
      class="swiper-slide">
    <h1>Copywriting</h1>
    <a href="#" class="btn btn-white">See More
      </a>
    </div>
    

      </div>
      <!-- Add Arrows -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
    
  </div>
</div>
<!-- <section class="magic">
  <div class="container">
    <div class="magic-top">
      <h1>
        How the magic <br />
        happens
      </h1>

      <p><a href="#">See All >></a></p>
    </div>
    <div class="magic-middle">
      <div class="magic-box">
        <img src="{% static 'images/Designers.svg'%}" alt="" />
        <h1>
          Strategic Branding
        </h1>
        <p>
          We’d help you find your way to the hearts of your customers with
          ease.
        </p>
      </div>
      <div class="magic-box">
        <img src="{% static 'images/Coworking.svg'%}" alt="" />
        <h1>
          Software Development
        </h1>
        <p>
          Let’s help you and your ideal audience do business with ease, so
          it’s a win win for you both - Happy Customer = More Profits.
        </p>
      </div>
    </div>
  </div>
</section> -->
<!-- 
<section class="courses">
  <div class="container">
    <div class="take_course">
      <h1>Grow your knowledge- base</h1>
      <p>
        Learn all the important skills you need to connect better with your
        ideal audience, grow your brand online, & make recurrent sales.
      </p>
    </div>

    <div class="take_course_image">
      <img src="{% static 'images/learn.svg' %}" alt="" />
    </div>
  </div>
</section> -->

{% comment %}
<section class="our_portfolio">
  <div class="portfolio_title">
    <h1>Our Portfolio</h1>
    <p>Check out some of our purposeful and customer-centric projects</p>
  </div>

  <div class="container">
    <div class="portfolio_table">
      {% for portfolio in portfolio %}

      <div class="portfolio_box portfolio_cover">
        <img src="{{portfolio.image.url}}" alt="" />
        <div class="portfolio_description">
          <a href="{{portfolio.get_absolute_url}}">
            <h1>{{portfolio.title}}</h1>
          </a>
        </div>
      </div>
      {% endfor %}
      <div class="portfolio_box see_more">
        <h1>Want to see more projects?</h1>
        <a href="{% url 'digi:portfolio' %}" class="btn btn-send"> See More</a>
      </div>
    </div>
  </div>
</section>
{% endcomment %}
<section class="courses">
  <div class="container">
    <div class="take_course_image">
      <img src="{% static 'images/brand.png' %}" alt="" />
    </div>
    <div class="take_course">
      <h1>Grow your business</h1>
      <p>
        Learn all the important skills you need to connect better with your
        ideal audience, grow your brand online, & make recurrent sales.
      </p>
      <a href="{% url 'digi:service' %}" class="btn btn-send">Talk To Us</a>
    </div>
  </div>
</section>
<!-- <section class="courses">
  <div class="container">
    <div class="take_course">
      <h1>Our Competencies span</h1>
      <p>
        Learn all the important skills you need to connect better with your
        ideal audience, grow your brand online, & make recurrent sales.
      </p>
      <a href="{% url 'digi:portfolio' %}" class="btn btn-send"
        >View Portfolio</a
      >
    </div>

    <div class="take_course_image">
      <img src="{% static 'images/learn.svg' %}" alt="" />
    </div>
  </div>
</section> -->

{% include 'ready.html' %}

<!-- <section class="need">

        <div class="container">

            <div class="need-top">
                <h1>Unlock the full potential of your business</h1>
            </div>

            <div class="need-middle">

                <div class="img">

                    <img src="{% static 'images/lady.svg'%}" alt="">
                </div>

                <div class="why-need">

                    <div class="header">
                        <h1>Why You Need Us</h1>
                        <p>What does being able launch your brand online, do business, achieve your brand goals and make
                            profits even while you’re asleep sound to you?
                        </p>
                    </div>
                    <div class="boxes">

                        <div class="need-box">
                            <h1>Join Us </h1>
                            <p>What does being able launch your brand online, do business</p>
                        </div>
                        <div class="need-box">
                            <h1>Join Us </h1>
                            <p>What does being able launch your brand online, do business</p>
                        </div>
                        <div class="need-box">
                            <h1>Join Us </h1>
                            <p>What does being able launch your brand online, do business</p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section> -->

<script src="{% static 'js/gsap.min.js' %}"></script>
<script src="{% static 'js/TextPlugin.min.js' %}"></script>
<script src="{% static 'js/swiper-bundle.min.js'%}"></script>

<script>
  var typed = new Typed(".txt-type", {
    strings: [
      "phenomenal",
      "extraordinary",
      "sensational",
      "unparalleled",
      "amazing",
      "outstanding",
      "remarkable",
      "bold",
      "prestigious",
      "flamboyant",
      "elegant",
    ],
    typeSpeed: 100,
    backSpeed: 100,
    backDelay: 100,
    startDelay: 1000,
    loop: true,
  });

  var swiper = new Swiper('.swiper-container', {
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      autoplay: {
        delay: 1800,
        disableOnInteraction: true,
      },
    });
</script>

{% endblock content %}
