{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/videojs-ie8.min.js' %}"></script>

    <meta name="theme-color" content="#03CEA4">

    <link rel="stylesheet" href="{% static 'css/video-js.css' %}" />
    <link rel="stylesheet" href="{% static 'fontawesome-free-5.10.0-web/css/all.css' %}" />
    <link rel="stylesheet" href="{% static 'fontawesome-free-5.10.0-web/css/fontawesome.css' %}" />
    <link rel="stylesheet" href="{% static 'fontawesome-free-5.10.0-web/webfonts' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'font/flaticon.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'font/flaticon.woff' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'font/flaticon.woff2' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'font/flaticon.eot' %}" />
    <title>{{object.title}} - Phenommie</title>
    <link rel="stylesheet" href="{% static 'css/contact.css' %}" />
</head>

<body>

    <section class="curriculum">
        <div class="go_back"><a href="{{object.course.get_absolute_url}}"><i class="fas fa-chevron-circle-left"></i>
                <h1> {{object.course.title}}</h1>
            </a></div>
    </section>
    <div class="lesson_section">

        <div class="container">
            <div class="sidebar_course_list">

                <div class="course_title">
                    <h1>{{object.course.title}}</h1>
                    <p></p>
                </div>
                <div class="course_list">
                    {% for lessons in object.course.lessons %}
                    <div class="lesson_title">
                        <a href="{{lessons.get_absolute_url}}"> <i class="fab fa-youtube"></i> {{lessons.title}}</a>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="video_player">
            {% if request.user.is_authenticated %}
                {% if object.course in request.user.userlibrary.course_list %}
                <h1>{{object.title|title}}</h1>

                <!-- The video tag: -->

                <video controls autoplay preload="auto" id="my-player" class="video-js" poster="{{object.image.url}}">
                    <source src="//{{object.video}}" type="video/mp4">
                    <source src="//{{object.video}}" type="video/webm">
                </video>


                <p>{{object.description}}</p>
                <!-- Or embed shortcut: -->
                {% else %}

                <h1>Ready to become a professional in {{object.title|title}}?</h1>
                <p> Purchase this course today</p>
                {% if course_status == 'in_cart' %}
                <a href="{% url 'order:order-view' %}" class="btn btn-payment">Pay
                    Now</a>
                {% else %}
                <a href="{% url 'order:add-to-cart' object.course.slug %}" class="btn btn-payment">Enrol Now</a>
                {% endif %}
                {% endif %}
                
                {% else %}
                 <h1>Ready to become a professional in {{object.title|title}}?</h1>
                <p> Please Login</p>
                <a href="{% url 'account_login' %}" class="btn btn-payment">Login</a>
  {% endif %}

            </div>
          

        </div>
    </div>
    <script src="{% static 'js//video.js' %}"></script>

    <script>
        const video = document.querySelector('.video-js');
        videojs('.video-js', {
            controls: true,
            autoplay: true,
            preload: 'auto'
        });
    </script>

</body>

</html>