{% load static %}

{% url 'digi:home' as home %}
{% url 'digi:about' as about %}
{% url 'digi:contact' as contact %}
{% url 'digi:service' as service %}
{% url 'digi:courses' as courses %}
{% url 'digi:portfolio' as portfolio %}
<nav>

    <div class="container">
        <div class="icon">
            <a href="{% url 'digi:home' %}"><img src="{% static 'images/logo.svg' %}" alt=""></a>
        </div>

        <div class="nav-links-container">
            <ul class="nav-links">
         
                <li class="nav-link {% if request.path == about %} hide-active {% endif %}"><a href="{% url 'digi:about' %}">About Us</a></li>
                <li class="nav-link {% if request.path == service %} hide-active {% endif %}"><a href="{% url 'digi:service' %}">Services</a></li>
                <li class="nav-link {% if request.path == courses %} hide-active {% endif %}"><a href="{% url 'digi:courses' %}">Course</a></li>
                <li class="nav-link  {% if request.path == portfolio %} hide-active {% endif %}" ><a href="{% url 'digi:portfolio' %}">Portfolio</a></li>
                      {% comment %} {% if request.user.is_authenticated %}
                <li class="nav-link"><a href="{% url 'digi:dashboard' %}">Hello {{ request.user.first_name}}</a></li>
                      {% endif %}
                {% if request.user.is_authenticated %}
                <a href="{% url 'account_logout' %}" class="mobile_btn btn btn-sign">Logout</a>

                {% else %}
                <a href="{% url 'account_login' %}" class="mobile_btn btn btn-login">Login</a>
                {% endif %} {% endcomment %}
            </ul>
        </div>

        {% comment %} <div class="nav-buttons">
            {% if request.user.is_authenticated %}

            <div class="left">
                <a href="{% url 'account_logout' %}" class="btn btn-sign">Logout</a>
            </div>

            {% else %}
            <div class="right">
                <a href="{% url 'account_login' %}" class="btn btn-login">Login</a>
            </div>

            {% endif %}
        </div> {% endcomment %}

        <div class="mobile-menu hide">

            <span class="line1"></span>
            <span class="line2"></span>
            <span class="line3"></span>

        </div>


    </div>
</nav>