{% extends 'base.html' %} {% load static %} {% block css %}

<link rel="stylesheet" href="{% static 'css/contact.css' %}" />
<title>{{project.title|title}} - Phenommie</title>
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
<link  type="text/css" rel="stylesheet"  href="{% static 'css/lightslider.css' %}"/>
<script src="{% static 'js/jquery.min.js'%}"></script>
{% endblock css %} {% block content %}

<section
  class="course_hero"
  style="width:100%; min-height: 500px; background:url('{{project.image.url}}') center center/cover; "
>
  <div class="container">
    <h1>{{project.title|title}}</h1>
  </div>
</section>

<section class="project_header">
  <div class="container">
    <h1>{{project.title|title}}</h1>
    <p>{{project.content_header|title}}</p>
  </div>
</section>

<section class="slider">
  <div class="container">
    <ul id="responsive">
      <li>
        {% if project.image_1 %}
        <img src="{{project.image_1.url}}" alt="{{project.title}}" />
        {% endif %}
      </li>
      <li>
        {% if project.image_2 %}
        <img src="{{project.image_2.url}}" alt="{{project.title}}" />
        {% endif %}
      </li>
      <li>
        {% if project.image_3 %}
        <img src="{{project.image_3.url}}" alt="{{project.title}}" />
        {% endif %}
      </li>
      <li>
        {% if project.image_4 %}
        <img src="{{project.image_4.url}}" alt="{{project.title}}" />
        {% endif %}
      </li>
    </ul>
  </div>
</section>
<section class="view_project">
  <div class="container">
    <img src="{{project.image.url}}" alt="" />
    <h1>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab,
      exercitationem?
    </h1>
    <a href="#" class="btn btn-project">View Project</a>
  </div>
</section>

<section class="project_details">
  <div class="container">
    <div class="project_body">
      <h1>Lorem ipsum dolor sit amet.</h1>
      <p>
        {{project.content_body|safe}}
      </p>
    </div>

    <div class="project_image">
      {% if project.image_1 %}
      <img src="{{project.image_1.url}}" alt="" />
      {% endif %}
    </div>
  </div>
</section>

<section class="presentation">
  <div class="container">
    {% if project.presentation %}
    <img src="{{project.presentation.url}}" alt="" />
    {% endif %}
  </div>
</section>

<section class="project_details">
  <div class="container">
    <div class="project_body">
      <h1>Lorem ipsum dolor sit amet.</h1>
      <p>
        {{project.body_end}}
      </p>
    </div>

    <div class="project_image">
      {% if project.image_1 %}
      <img src="{{project.image_1.url}}" alt="" />
      {% endif %}
    </div>
  </div>
</section>

<section class="project_photos">
  <div class="container">
    {% if project.image_2 %}
    <div class="images image_1">
      <img src="{{project.image_2.url}}" alt="" />
    </div>
    {% endif %} {% if project.image_4 %}
    <div class="images image_2">
      <img src="{{project.image_4.url}}" alt="" />
    </div>
    {% endif %}
  </div>
</section>

<script src="{% static 'js/lightslider.js' %}"></script>

<script type="text/javascript">
  $(document).ready(function () {
    $("#responsive").lightSlider({
      item: 4,
      loop: true,
      slideMove: 3,
      easing: "cubic-bezier(0.25, 0, 0.25, 1)",
      speed: 600,
      responsive: [
        {
          breakpoint: 800,
          settings: {
            item: 3,
            slideMove: 1,
            slideMargin: 6,
          },
        },
        {
          breakpoint: 480,
          settings: {
            item: 2,
            slideMove: 1,
          },
        },
      ],
    });
  });
</script>
{% endblock content %}
