{% extends 'base.html' %} {% load static %} {% block css %}

<link rel="stylesheet" href="{% static 'css/contact.css' %}" />
<title>{{project.name|title}} - Phenommie</title>
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'css/lightslider.css' %}" />
<script src="{% static 'js/jquery.min.js'%}"></script>
{% endblock css %} {% block content %}

<section class="course_hero"
  style="width:100%; min-height: 500px; background:url('{{project.image.url}}') center center/cover; ">
  <div class="container">
    <h1>{{project.name|title}}</h1>
  </div>
</section>

<section class="project_header">
  <div class="container">


    <div class="project_box">
      <h1>Client</h1>
      <p>{{project.name|title}}</p>
    </div>
    <div class="project_box">
      <h1>Date</h1>
      <p>{{project.date_completed|title}}</p>
    </div>
    <div class="project_box">
      <h1>Category</h1>
      <p>{{project.category|title}}</p>
    </div>
  </div>
</section>


<section class="presentation">
  <div class="container">
    {% if project.presentation %}
    <img src="{{project.presentation.url}}" alt="" />
    {% endif %}
  </div>
</section>


<section class="view_project">
  <div class="container">

    <div class="project_writeup">
      <h1>
        Project Description
      </h1>
      <p>{{project.description|safe}}</p>
    </div>
    <div class="project_face">
      <img src="{{project.image.url}}" alt="" />
    </div>

  </div>
</section>

<section class="project_details">
  <div class="container">
    <div class="project_details_title">
      <h1>View <span class="green">Project</span></h1>

    </div>

    <div class="project_details_image">
      {% if project.image_1 %}
      <div class="details_img">
        <img src="{{project.image_1.url}}" alt="Phenommie {{project.name|title}}">
      </div>
      {% endif %}
      {% if project.image_2 %}
      <div class="details_img">
        <img src="{{project.image_2.url}}" alt="Phenommie {{project.name|title}}">
      </div> {% endif %}
      {% if project.image_3 %}
      <div class="details_img">
        <img src="{{project.image_3.url}}" alt="Phenommie {{project.name|title}}">
      </div> {% endif %}
      {% if project.image_4 %}
      <div class="details_img">
        <img src="{{project.image_4.url}}" alt="Phenommie {{project.name|title}}">
      </div> {% endif %}
      {% if project.image_5 %}
      <div class="details_img">
        <img src="{{project.image_5.url}}" alt="Phenommie {{project.name|title}}">
      </div> {% endif %}


    </div>
  </div>
</section>

{% include 'ready.html' %}

<script src="{% static 'js/lightslider.js' %}"></script>

<script type="text/javascript">
  $(document).ready(function () {
    $("#responsive").lightSlider({
      item: 4,
      loop: true,
      slideMove: 3,
      easing: "cubic-bezier(0.25, 0, 0.25, 1)",
      speed: 600,
      responsive: [
        {
          breakpoint: 800,
          settings: {
            item: 3,
            slideMove: 1,
            slideMargin: 6,
          },
        },
        {
          breakpoint: 480,
          settings: {
            item: 2,
            slideMove: 1,
          },
        },
      ],
    });
  });
</script>
{% endblock content %}