{% extends 'base.html' %}
{%  load static %}

{% block css %}

<link rel="stylesheet" href="{% static 'css/contact.css' %}">
<title>Services - Phenommie</title>

{% endblock css %}

{% block content %}

<section class="main_hero">

    <div class="container">
        <h1>Every Business Starts With A Plan</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br> Ut laoreet, velit cursus tincidunt accumsan</p>
    </div>

    <div class="icon_center">
        <img src="{% static 'images/icon_center.svg' %}" alt="">
    </div>

</section>

<section class="our_plan">

    <div class="container">

        <div class="plan_title">
            <h1>Our Plans</h1>
        </div>

        <div class="plan_table">
            <div class="plan_box">

                <h3>BASIC</h3>
                <h1>FREE</h1>
                <p>Lorem ipsum dolor sit amet.</p>
                <p>Lorem ipsum dolor sit amet.</p>
                <p>Lorem ipsum dolor sit amet.</p>
                <p>Lorem ipsum dolor sit amet.</p>
                <a href="#" class="btn btn-send">Get Started</a>


            </div>
            <div class="plan_box">
                <div class="plan_recommend">RECOMMENDED</div>
                <h3>Pro</h3>
                <h1>$50</h1>
                <p>Lorem ipsum dolor sit amet.</p>
                <p>Lorem ipsum dolor sit amet.</p>
                <p>Lorem ipsum dolor sit amet.</p>
                <p>Lorem ipsum dolor sit amet.</p>
                <a href="#" class="btn btn-pro">Get Started</a>
            </div>
            <div class="plan_box">
                <h3>ENTEPRISE</h3>
                <h1>$100</h1>
                <p>Lorem ipsum dolor sit amet.</p>
                <p>Lorem ipsum dolor sit amet.</p>
                <p>Lorem ipsum dolor sit amet.</p>
                <p>Lorem ipsum dolor sit amet.</p>
                <a href="#" class="btn btn-send">Get Started</a>
            </div>

        </div>
    </div>
</section>


<section class="we_do">

    <div class="container">

        <div class="we_do_title">
            <h1>WHAT WE DO</h1>
        </div>

        <div class="we_do_table">
            <div class="we_do_box">


                <img src="{% static 'images/1.svg' %}" alt="">
                <h1>Branding</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo repellat possimus saepe animi,
                    suscipit omnis? Iure impedit voluptatem ullam asperiores molestias nisi nesciunt eum! Facilis est
                    adipisci eveniet aliquid quod.</p>



            </div>

            <div class="we_do_box">


                <img src="{% static 'images/1.svg' %}" alt="">
                <h1>Branding</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo repellat possimus saepe animi,
                    suscipit omnis? Iure impedit voluptatem ullam asperiores molestias nisi nesciunt eum! Facilis est
                    adipisci eveniet aliquid quod.</p>



            </div>

            <div class="we_do_box">


                <img src="{% static 'images/1.svg' %}" alt="">
                <h1>Branding</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo repellat possimus saepe animi,
                    suscipit omnis? Iure impedit voluptatem ullam asperiores molestias nisi nesciunt eum! Facilis
                    est
                    adipisci eveniet aliquid quod.</p>



            </div>

            <div class="we_do_box">


                <img src="{% static 'images/1.svg' %}" alt="">
                <h1>Branding</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo repellat possimus saepe
                    animi,
                    suscipit omnis? Iure impedit voluptatem ullam asperiores molestias nisi nesciunt eum! Facilis
                    est
                    adipisci eveniet aliquid quod.</p>



            </div>

            <div class="we_do_box">


                <img src="{% static 'images/1.svg' %}" alt="">
                <h1>Branding</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo repellat possimus saepe animi,
                    suscipit omnis? Iure impedit voluptatem ullam asperiores molestias nisi nesciunt eum! Facilis est
                    adipisci eveniet aliquid quod.</p>



            </div>

            <div class="we_do_box">


                <img src="{% static 'images/1.svg' %}" alt="">
                <h1>Branding</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo repellat possimus saepe animi,
                    suscipit omnis? Iure impedit voluptatem ullam asperiores molestias nisi nesciunt eum! Facilis est
                    adipisci eveniet aliquid quod.</p>



            </div>



        </div>
    </div>
</section>


<section class="need_us">

    <div class="container">

        <div class="need_us_title">
            <h1>Why You Need Us</h1>
            <p>What does being able launch you</p>
        </div>

        <div class="need_us_table">
            <div class="need_us_box">
                <h1>Join Us</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, animi.</p>
            </div>
            <div class="need_us_box">
                <h1>Join Us</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, animi.</p>
            </div>
            <div class="need_us_box">
                <h1>Join Us</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, animi.</p>
            </div>
            <div class="need_us_box">
                <h1>Join Us</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, animi.</p>
            </div>

        </div>
    </div>
</section>



<section class="start_project">

    <div class="container">

        <h1>Let’s Start A Project</h1>
        <p>Let’s Start A Project</p>
        <a href="#" class="btn btn-send">Start A Project</a>
    </div>
</section>
{% endblock content %}