{% extends 'base.html' %} {% load static %} {% block css %}

<link rel="stylesheet" href="{% static 'css/contact.css' %}" />
<title>Services - Phenommie</title>

{% endblock css %} {% block content %}

<section class="main_hero">
  <div class="container">
    <h1>Your Online Success Starts Here</h1>
    <p>Brick and mortar businesses alone don’t cut it anymore.</p>
  </div>
</section>

<section class="customers">
  <div class="container">
    <img src="{% static 'images/icon_center.svg'%}" alt="" />
    <h1>
      “Let’s help you secure a loving spot in the
      <span class="green">minds of your customers, </span> and make doing
      business easy for you both, so they can keep doing business with you from
      the comforts of their homes”
    </h1>
  </div>
</section>

<section class="we_do">
  <div class="container">
    <div class="we_do_title">
      <h1>What We Do</h1>
      <p>
        No brags, we pay attention to details, and use a strategy first approach
        to understand your brand, it’s ideal audience and longterm objectives to
        create projects that resonates.
      </p>
    </div>

    <div class="we_do_table">
      {% for service in service %}
      <div class="we_do_box">
        <div class="loop">
          <h1>{{forloop.counter}}</h1>
        </div>
        <div class="we_do_box_name">
          <h1>{{service.name}}</h1>
        </div>

        <a href="{{service.get_absolute_url}}">
        </a>
      </div>
      {% endfor %}

    </div>
  </div>
</section>

<section class="how_we">
  <div class="container">
    <div class="title">
      <h1>How We Do It</h1>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos,
        ipsum ipsam? Provident blanditiis eius quae saepe libero, odit
        consectetur debitis!
      </p>
    </div>

    <div class="how_table">
      <div class="how_box">
        <div class="how_header">
          <h1>Engagement at scale</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores
            perspiciatis culpa placeat dolorem .
          </p>
        </div>

      </div>
      <div class="how_box">
        <div class="how_header">
          <h1>Engagement at scale</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores
            perspiciatis culpa placeat
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="our_plan">
  <div class="container">
    <div class="plan_title">
      <h1>Our Plans</h1>
    </div>

    <div class="plan_table">
      <div class="plan_box">
        <h3>BASIC</h3>
        <h1>FREE</h1>
        <p>Lorem ipsum dolor sit amet.</p>
        <p>Lorem ipsum dolor sit amet.</p>
        <p>Lorem ipsum dolor sit amet.</p>
        <p>Lorem ipsum dolor sit amet.</p>
        <a href="#" class="btn btn-send">Get Started</a>
      </div>
      <div class="plan_box">
        <div class="plan_recommend">RECOMMENDED</div>
        <h3>Pro</h3>
        <h1>$50</h1>
        <p>Lorem ipsum dolor sit amet.</p>
        <p>Lorem ipsum dolor sit amet.</p>
        <p>Lorem ipsum dolor sit amet.</p>
        <p>Lorem ipsum dolor sit amet.</p>
        <a href="#" class="btn btn-pro">Get Started</a>
      </div>
      <div class="plan_box">
        <h3>ENTEPRISE</h3>
        <h1>$100</h1>
        <p>Lorem ipsum dolor sit amet.</p>
        <p>Lorem ipsum dolor sit amet.</p>
        <p>Lorem ipsum dolor sit amet.</p>
        <p>Lorem ipsum dolor sit amet.</p>
        <a href="#" class="btn btn-send">Get Started</a>
      </div>
    </div>
  </div>
</section>
{% comment %}
<section class="need_us">
  <div class="container">
    <div class="need_us_title">
      <h1>Why You Need Us</h1>
      <p>What does being able launch you</p>
    </div>

    <div class="need_us_table">
      <div class="need_us_box">
        <h1>Join Us</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, animi.
        </p>
      </div>
      <div class="need_us_box">
        <h1>Join Us</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, animi.
        </p>
      </div>
      <div class="need_us_box">
        <h1>Join Us</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, animi.
        </p>
      </div>
      <div class="need_us_box">
        <h1>Join Us</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, animi.
        </p>
      </div>
    </div>
  </div>
</section>
{% endcomment %} {% include 'ready.html' %} {% endblock content %}