  <nav class="nav">
    <ul class="nav__list" role="menubar">
      <li class="nav__item">
        <a href="{% url 'digi:dashboard'%}" class="nav__link"><i class="fas fa-home"></i> <p>Dashboard</p></a>
      
      </li>
     <li class="nav__item"> <a href="{% url 'digi:dashboard-course' %}" class="nav__link"><i class="fab fa-youtube"></i> <p>Courses</p></a></li>
     <li class="nav__item"> <a href="{% url 'digi:profile' %}" class="nav__link"><i class="fas fa-user-alt"></i> <p>Profile</p></a></li>
      <li class="nav__item"><a href="{% url 'account_logout' %}" class="nav__link"><i class="fas fa-sign-out-alt"></i> <p>Logout</p></a></li>
    </ul>
  </nav>